@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply rounded-sm;
}

.aspect-custom{
    @apply aspect-[1] sm:aspect-[1.5] md:aspect-[2.359]
}
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }